@model ManagerViewModel;

@{
    ViewBag.Title = "Manager Homepage";
}

<h1 class="text-center">Current Employees</h1>

@if (Model.Employees.Count > 0)
{

    <div>
        <div class="row">
            @foreach (var employee in Model.Employees)
            {
                <div class="card m-0 col-sm-3 p-0 text-center border-0">
                    <div class="m-2">

                        @if (employee.LeaveRequest == "unTouched")
                        {
                            <div class="card-header font-weight-bold text-center bg-info">
                                <h1 class="card-title font-weight-bold" id="@employee.UserName">@employee.UserName</h1>
                            </div>

                            <div class="card-footer text-center font-weight-bold">
                                <h5>Working..</h5>
                            </div>
                        }

                        else if (employee.LeaveRequest == "Submitted")
                        {
                            <div class="card-header font-weight-bold text-center bg-warning">
                                <h2 class="card-title">@employee.UserName</h2>
                            </div>

                            <div class="card-footer ">
                                <div class="row" id="@employee.UserName">
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary btn-block bg-success" id="AcceptRequest">
                                            Accept
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-danger btn-block" id="RejectRequest">
                                            Reject
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }

                        else if (employee.LeaveRequest == "Accepted")
                        {
                            <div class="card-header font-weight-bold text-center bg-success">
                                <h1 class="card-title font-weight-bold">@employee.UserName</h1>
                            </div>

                            <div class="card-footer text-center font-weight-bold">
                                <h5>Left!</h5>
                            </div>
                        }

                        else if (employee.LeaveRequest == "Rejected")
                        {
                            <div class="card-header font-weight-bold text-center bg-danger">
                                <h1 class="card-title font-weight-bold">@employee.UserName</h1>
                            </div>

                            <div class="card-footer text-center font-weight-bold">
                                <h5>Rejected</h5>
                            </div>
                        }

                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <h1 class="text-center">No Requests Available Yet!</h1>
}

<script>

    let connection = new signalR.HubConnectionBuilder().withUrl("/LeaveRequestsHub").build();
    let method = "@Model.Department" + "managers";

    connection.start().then(function () {
        console.log("connection started");
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on(method, function (department, employeeName) {
        location.reload();
    });

    $('#AcceptRequest').click(function () {
        $.ajax({
            type: "post",
            url: "/manager/AcceptRequest",
            data: {
                "username": $(this).parent().parent().attr('id')
            },
            success: async function (res) {
                await connection.invoke("RespondToLeaveRequest", $('#AcceptRequest').parent().parent().attr('id'));
                location.reload();
            }
        });
    })

    $('#RejectRequest').click(function () {
        if (!confirm('Reject request ?'))
            return false;
        $.ajax({
            type: "post",
            url: "/manager/RejectRequest",
            data: {
                "username": $(this).parent().parent().attr('id')
            },
            success: async function (res) {
                await connection.invoke("RespondToLeaveRequest", $('#RejectRequest').parent().parent().attr('id'));
                location.reload();
            }
        });
    })

</script>
